<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="title-1 m-b-25">Danh sách nhân viên</h2>
                    <div class="table-responsive table--no-card m-b-40">
                        <table class="table table-borderless table-striped table-earning" id="tbl-employees">
                            <thead>
                                <tr>
                                    <th>Họ Tên</th>
                                    <th>Ngày Sinh</th>
                                    <th>Email</th>
                                    <th>Cấp bậc</th>
                                    <th>Chuyên mục</th>
                                </tr>
                                
                            </thead>
                            <tbody>
                                {{#each this.users}}
                                <tr >
                                    <td><a href="/admin/editemployee/{{ID}}">{{Name}}</a></td>
                                    <td>{{Birthday}}</td>
                                    <td>{{Email}}</td>
                                    <td>{{RoleName}}</td>
                                    <td>{{CatName}}</td>
                                </tr>
                                {{/each}}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
            <div class="row" >
                <div class="col-md-12" >
                    <div class="copyright">
                        <p>Copyright © 2019 Group38</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>