	<div class="site-main-container">
		<!-- Start top-post Area -->
		<section class="top-post-area pt-10">
			<div class="container no-padding">
				<div class="row small-gutters">
					{{#each this.news1}}
					<div class="col-lg-8 top-post-left">
						<div class="feature-image-thumb relative">
							<div class="overlay overlay-bg"></div>
							<img class="img-fluid" src="/img/{{Avatar}}" style="height: 530px; max-width: 100%;" alt="">
						</div>
						<div class="top-post-details">
							<ul class="tags">
								<li><a href="#">{{CatID}}</a></li>
							</ul>
							<a href="news/{{PostID}}/post">
								<h3>{{Title}}</h3>
							</a>
							<ul class="meta">
								<li><a href="#"><span class="lnr lnr-user"></span>{{CreatorID}}</a></li>
								<li><a href="#"><span class="lnr lnr-calendar-full"></span>{{Date}}</a></li>
								<li><a href="#"><span class="lnr lnr-bubble"></span>0 Comments</a></li>
							</ul>
						</div>
					</div>
					<!--<div class="col-lg-8 top-post-left">
						<div class="feature-image-thumb relative">
							<div class="overlay overlay-bg"></div>
							<img class="img-fluid" src="/img/top-post1.jpg" alt="">
						</div>
						<div class="top-post-details">
							<ul class="tags">
								<li><a href="#">Phim Hot</a></li>
							</ul>
							<a href="image-post">
								<h3>Bom tấn "Avengers: End Game" sẽ thay đổi vũ trụ Marvel và cả Hollywood.</h3>
							</a>
							<ul class="meta">
								<li><a href="#"><span class="lnr lnr-user"></span>Huỳnh Anh</a></li>
								<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April, 2019</a></li>
								<li><a href="#"><span class="lnr lnr-bubble"></span>0 Comments</a></li>
							</ul>
						</div>
					</div>-->
					{{/each}}
					<div class="col-lg-4 top-post-right">
						<div class="single-top-post">
							<div class="feature-image-thumb relative">
								<div class="overlay overlay-bg"></div>
								<img class="img-fluid" src="/img/top-post2.jpg" alt="">
							</div>
							<div class="top-post-details">
								<ul class="tags">
									<li><a href="#">Pháp Luật</a></li>
								</ul>
								<a href="image-post">
									<h4>Đã gian lận điểm thi: Phải hủy kết quả và cho thôi học</h4>
								</a>
								<ul class="meta">
									<li><a href="#"><span class="lnr lnr-user"></span>Hà Phượng - Nguyễn Quyên</a></li>
									<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April, 2018</a></li>
									<li><a href="#"><span class="lnr lnr-bubble"></span>06 Comments</a></li>
								</ul>
							</div>
						</div>
						<div class="single-top-post mt-10">
							<div class="feature-image-thumb relative">
								<div class="overlay overlay-bg"></div>
								<img class="img-fluid" src="/img/top-post3.jpg" alt="">
							</div>
							<div class="top-post-details">
								<ul class="tags">
									<li><a href="#">Công Nghệ</a></li>
								</ul>
								<a href="image-post">
									<h4>Có gì độc đáo trong chiếc điện thoại của tương lai Samsung Galaxy Fold</h4>
								</a>
								<ul class="meta">
									<li><a href="#"><span class="lnr lnr-user"></span>Mark wiens</a></li>
									<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April, 2018</a></li>
									<li><a href="#"><span class="lnr lnr-bubble"></span>06 Comments</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="news-tracker-wrap">
							<h6><span>Breaking News:</span>
								<a href="#">Trình diễn công nghệ lái xe từ xa hơn nghìn km qua mạng 5G</a>
							</h6>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End top-post Area -->
		<!-- Start latest-post Area -->
		<section class="latest-post-area pb-120">
			<div class="container no-padding">
				<div class="row">
					<div class="col-lg-8 post-list">
						<!-- Start latest-post Area -->
						<div class="latest-post-wrap">
							<h4 class="cat-title">Latest News</h4>
							{{#each this.news}}
							<div class="single-latest-post row align-items-center">
								<div class="col-lg-5 post-left">
									<div class="feature-img relative">
										<div class="overlay overlay-bg"></div>
										<img class="img-fluid" src="/img/{{Avatar}}" alt="">
									</div>
									<ul class="tags">
										<li><a href="#">Công Nghệ</a></li>
									</ul>
								</div>
								<div class="col-lg-7 post-right">
									<a href="news/{{PostID}}/post">
										<h4>{{Title}}</h4>
									</a>
									<ul class="meta">
										<li><a href="#"><span class="lnr lnr-user"></span>{{CreatorID}}</a></li>
										<li><a href="#"><span class="lnr lnr-calendar-full"></span>{{Date}}</a>
										</li>
										<li><a href="#"><span class="lnr lnr-bubble"></span>06 Comments</a></li>
									</ul>
									<p class="excert">
										{{SumContent}}
									</p>
								</div>
							</div>
							{{/each}}
							<!--<div class="single-latest-post row align-items-center">
								<div class="col-lg-5 post-left">
									<div class="feature-img relative">
										<div class="overlay overlay-bg"></div>
										<img class="img-fluid" src="img/l2.jpg" alt="">
									</div>
									<ul class="tags">
										<li><a href="#">Khoa Học</a></li>
									</ul>
								</div>
								<div class="col-lg-7 post-right">
									<a href="image-post">
										<h4>"Quái vật vũ trụ" sa lưới nhân loại, giới khoa học ngủ quên trên chiến
											thắng?</h4>
									</a>
									<ul class="meta">
										<li><a href="#"><span class="lnr lnr-user"></span>Mark wiens</a></li>
										<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April, 2018</a>
										</li>
										<li><a href="#"><span class="lnr lnr-bubble"></span>06 Comments</a></li>
									</ul>
									<p>
										Sự kiện chụp ảnh được hố đen gây chấn động thế giới vừa qua không phải là điểm
										kết thúc của quá trình nghiên cứu, mà thực ra là khởi đầu của một kỷ nguyên mới
										đầy hứa hẹn.
									</p>
								</div>
							</div>
							<div class="single-latest-post row align-items-center">
								<div class="col-lg-5 post-left">
									<div class="feature-img relative">
										<div class="overlay overlay-bg"></div>
										<img class="img-fluid" src="img/l3.jpg" alt="">
									</div>
									<ul class="tags">
										<li><a href="#">Du Lịch</a></li>
									</ul>
								</div>
								<div class="col-lg-7 post-right">
									<a href="image-post">
										<h4>Chàng trai 9X Vĩnh Phúc phượt xuyên Việt chỉ với 4 triệu đồng</h4>
									</a>
									<ul class="meta">
										<li><a href="#"><span class="lnr lnr-user"></span>Mark wiens</a></li>
										<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April, 2018</a>
										</li>
										<li><a href="#"><span class="lnr lnr-bubble"></span>06 Comments</a></li>
									</ul>
									<p>
										Hành trình từ Hà Nội - Cà Mau gần 1 tháng khắp mảnh đất chữ S của chàng trai 9X
										đến từ Vĩnh Phúc đã có không ít trải nghiệm, bỏ túi thêm nhiều kinh nghiệm cho
										một chuyến đi bụi đường trường dài ngày.
									</p>
								</div>
							</div>
							<div class="single-latest-post row align-items-center">
								<div class="col-lg-5 post-left">
									<div class="feature-img relative">
										<div class="overlay overlay-bg"></div>
										<img class="img-fluid" src="img/l4.jpg" alt="">
									</div>
									<ul class="tags">
										<li><a href="#">Giáo Dục</a></li>
									</ul>
								</div>
								<div class="col-lg-7 post-right">
									<a href="image-post">
										<h4>'Đua nhau' tổ chức thi đánh giá năng lực</h4>
									</a>
									<ul class="meta">
										<li><a href="#"><span class="lnr lnr-user"></span>Mark wiens</a></li>
										<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April, 2018</a>
										</li>
										<li><a href="#"><span class="lnr lnr-bubble"></span>06 Comments</a></li>
									</ul>
									<p>
										TTO - Sau kỳ thi đánh giá năng lực đợt 1 năm 2019 do ĐH Quốc gia TP.HCM tổ chức
										sẽ có hàng loạt trường ĐH cũng tổ chức thi riêng. Thời gian diễn ra kỳ thi này
										không còn lâu nữa nhưng đến nay các trường này đều mới đang trong quá trình
										chuẩn bị.
									</p>
								</div>
							</div>
							<div class="single-latest-post row align-items-center">
								<div class="col-lg-5 post-left">
									<div class="feature-img relative">
										<div class="overlay overlay-bg"></div>
										<img class="img-fluid" src="img/l1.jpg" alt="">
									</div>
									<ul class="tags">
										<li><a href="#">Công Nghệ</a></li>
									</ul>
								</div>
								<div class="col-lg-7 post-right">
									<a href="image-post">
										<h4>'Ông lớn' công nghệ Apple trở lại mảng xe tự lái?</h4>
									</a>
									<ul class="meta">
										<li><a href="#"><span class="lnr lnr-user"></span>Mark wiens</a></li>
										<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April, 2018</a>
										</li>
										<li><a href="#"><span class="lnr lnr-bubble"></span>06 Comments</a></li>
									</ul>
									<p class="excert">
										Những tin đồn về dự án xe tự lái của hãng công nghệ hàng đầu thế giới Apple lại
										rộ lên sau khi tưởng chừng Táo khuyết đã từ bỏ mảng thị trường đầy tiềm năng
										này.
									</p>
								</div>
							</div>
							<div class="single-latest-post row align-items-center">
								<div class="col-lg-5 post-left">
									<div class="feature-img relative">
										<div class="overlay overlay-bg"></div>
										<img class="img-fluid" src="img/l2.jpg" alt="">
									</div>
									<ul class="tags">
										<li><a href="#">Khoa Học</a></li>
									</ul>
								</div>
								<div class="col-lg-7 post-right">
									<a href="image-post">
										<h4>"Quái vật vũ trụ" sa lưới nhân loại, giới khoa học ngủ quên trên chiến
											thắng?</h4>
									</a>
									<ul class="meta">
										<li><a href="#"><span class="lnr lnr-user"></span>Mark wiens</a></li>
										<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April, 2018</a>
										</li>
										<li><a href="#"><span class="lnr lnr-bubble"></span>06 Comments</a></li>
									</ul>
									<p>
										Sự kiện chụp ảnh được hố đen gây chấn động thế giới vừa qua không phải là điểm
										kết thúc của quá trình nghiên cứu, mà thực ra là khởi đầu của một kỷ nguyên mới
										đầy hứa hẹn.
									</p>
								</div>
							</div>
							<div class="single-latest-post row align-items-center">
								<div class="col-lg-5 post-left">
									<div class="feature-img relative">
										<div class="overlay overlay-bg"></div>
										<img class="img-fluid" src="img/l1.jpg" alt="">
									</div>
									<ul class="tags">
										<li><a href="#">Công Nghệ</a></li>
									</ul>
								</div>
								<div class="col-lg-7 post-right">
									<a href="image-post">
										<h4>'Ông lớn' công nghệ Apple trở lại mảng xe tự lái?</h4>
									</a>
									<ul class="meta">
										<li><a href="#"><span class="lnr lnr-user"></span>Mark wiens</a></li>
										<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April, 2018</a>
										</li>
										<li><a href="#"><span class="lnr lnr-bubble"></span>06 Comments</a></li>
									</ul>
									<p class="excert">
										Những tin đồn về dự án xe tự lái của hãng công nghệ hàng đầu thế giới Apple lại
										rộ lên sau khi tưởng chừng Táo khuyết đã từ bỏ mảng thị trường đầy tiềm năng
										này.
									</p>
								</div>
							</div>
							<div class="single-latest-post row align-items-center">
								<div class="col-lg-5 post-left">
									<div class="feature-img relative">
										<div class="overlay overlay-bg"></div>
										<img class="img-fluid" src="img/l2.jpg" alt="">
									</div>
									<ul class="tags">
										<li><a href="#">Khoa Học</a></li>
									</ul>
								</div>
								<div class="col-lg-7 post-right">
									<a href="image-post">
										<h4>"Quái vật vũ trụ" sa lưới nhân loại, giới khoa học ngủ quên trên chiến
											thắng?</h4>
									</a>
									<ul class="meta">
										<li><a href="#"><span class="lnr lnr-user"></span>Mark wiens</a></li>
										<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April, 2018</a>
										</li>
										<li><a href="#"><span class="lnr lnr-bubble"></span>06 Comments</a></li>
									</ul>
									<p>
										Sự kiện chụp ảnh được hố đen gây chấn động thế giới vừa qua không phải là điểm
										kết thúc của quá trình nghiên cứu, mà thực ra là khởi đầu của một kỷ nguyên mới
										đầy hứa hẹn.
									</p>
								</div>
							</div>
							<div class="single-latest-post row align-items-center">
								<div class="col-lg-5 post-left">
									<div class="feature-img relative">
										<div class="overlay overlay-bg"></div>
										<img class="img-fluid" src="img/l3.jpg" alt="">
									</div>
									<ul class="tags">
										<li><a href="#">Du Lịch</a></li>
									</ul>
								</div>
								<div class="col-lg-7 post-right">
									<a href="image-post">
										<h4>Chàng trai 9X Vĩnh Phúc phượt xuyên Việt chỉ với 4 triệu đồng</h4>
									</a>
									<ul class="meta">
										<li><a href="#"><span class="lnr lnr-user"></span>Mark wiens</a></li>
										<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April, 2018</a>
										</li>
										<li><a href="#"><span class="lnr lnr-bubble"></span>06 Comments</a></li>
									</ul>
									<p>
										Hành trình từ Hà Nội - Cà Mau gần 1 tháng khắp mảnh đất chữ S của chàng trai 9X
										đến từ Vĩnh Phúc đã có không ít trải nghiệm, bỏ túi thêm nhiều kinh nghiệm cho
										một chuyến đi bụi đường trường dài ngày.
									</p>
								</div>
							</div>
							<div class="single-latest-post row align-items-center">
								<div class="col-lg-5 post-left">
									<div class="feature-img relative">
										<div class="overlay overlay-bg"></div>
										<img class="img-fluid" src="img/l4.jpg" alt="">
									</div>
									<ul class="tags">
										<li><a href="#">Giáo Dục</a></li>
									</ul>
								</div>
								<div class="col-lg-7 post-right">
									<a href="image-post">
										<h4>'Đua nhau' tổ chức thi đánh giá năng lực</h4>
									</a>
									<ul class="meta">
										<li><a href="#"><span class="lnr lnr-user"></span>Mark wiens</a></li>
										<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April, 2018</a>
										</li>
										<li><a href="#"><span class="lnr lnr-bubble"></span>06 Comments</a></li>
									</ul>
									<p>
										TTO - Sau kỳ thi đánh giá năng lực đợt 1 năm 2019 do ĐH Quốc gia TP.HCM tổ chức
										sẽ có hàng loạt trường ĐH cũng tổ chức thi riêng. Thời gian diễn ra kỳ thi này
										không còn lâu nữa nhưng đến nay các trường này đều mới đang trong quá trình
										chuẩn bị.
									</p>
								</div>
							</div>-->
						</div>
						<!-- End latest-post Area -->

						<!-- Start banner-ads Area -->
						<div class="col-lg-12 ad-widget-wrap mt-30 mb-30">
							<img class="img-fluid" src="/img/banner-ad.jpg" alt="">
						</div>
						<!-- End banner-ads Area -->
						<!-- Start popular-post Area -->
						<div class="popular-post-wrap">
							<h4 class="title">Phổ Biến</h4>
							<div class="feature-post relative">
								<div class="feature-img relative">
									<div class="overlay overlay-bg"></div>
									<img class="img-fluid" src="/img/top-post1.jpg" alt="">
								</div>
								<div class="details">
									<ul class="tags">
										<li><a href="#">Phim Hot</a></li>
									</ul>
									<a href="image-post">
										<h3>Bom tấn "Avengers: End Game" sẽ thay đổi vũ trụ Marvel và cả Hollywood.</h3>
									</a>
									<ul class="meta">
										<li><a href="#"><span class="lnr lnr-user"></span>Mark wiens</a></li>
										<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April, 2018</a>
										</li>
										<li><a href="#"><span class="lnr lnr-bubble"></span>06 Comments</a></li>
									</ul>
								</div>
							</div>
							<div class="row mt-20 medium-gutters">
								<div class="col-lg-6 single-popular-post">
									<div class="feature-img-wrap relative">
										<div class="feature-img relative">
											<div class="overlay overlay-bg"></div>
											<img class="img-fluid" src="/img/f2.jpg" alt="">
										</div>
										<ul class="tags">
											<li><a href="#">Đời Sống</a></li>
										</ul>
									</div>
									<div class="details">
										<a href="image-post">
											<h4>Việc nhiều tiền, bạn thức khuya không nổi; Việc ít tiền, bạn không muốn
												dậy đi làm: 20 tuổi sớm đòi hỏi, 30 tuổi trả giá đắt</h4>
										</a>
										<ul class="meta">
											<li><a href="#"><span class="lnr lnr-user"></span>Mark wiens</a></li>
											<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
													2018</a></li>
											<li><a href="#"><span class="lnr lnr-bubble"></span>06 </a></li>
										</ul>
										<p class="excert">
											Vì chúng ta không theo kịp nhịp điệu của tuổi tác nên mới có cái gọi là
											khủng hoảng tuổi trung niên. Khủng hoảng này là kết quả của những năm tuổi
											trẻ đòi hỏi, lười biếng mà không chịu nỗ lực.
										</p>
									</div>
								</div>
								<div class="col-lg-6 single-popular-post">
									<div class="feature-img-wrap relative">
										<div class="feature-img relative">
											<div class="overlay overlay-bg"></div>
											<img class="img-fluid" src="/img/f3.jpg" alt="">
										</div>
										<ul class="tags">
											<li><a href="#">Xã Hội</a></li>
										</ul>
									</div>
									<div class="details">
										<a href="image-post">
											<h4>Bức xúc chuyện cô gái nhặt được iPhone không trả còn hồn nhiên nhắn tin
												xin mật khẩu iCloud để đỡ mất tiền mở khoá</h4>
										</a>
										<ul class="meta">
											<li><a href="#"><span class="lnr lnr-user"></span>Mark wiens</a></li>
											<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
													2018</a></li>
											<li><a href="#"><span class="lnr lnr-bubble"></span>06 </a></li>
										</ul>
										<p class="excert">
											Mới đây, một nam thanh niên chia sẻ câu chuyện bị rơi mất chiếc điện thoại
											iPhone. Nhưng sẽ chẳng có gì đáng nói nếu như kẻ lượm được đồ không hồn
											nhiên nhắn tin lại xin mật khẩu iCloud để khỏi "mất tiền mở khoá".
										</p>
									</div>
								</div>
								<div class="col-lg-6 single-popular-post">
									<div class="feature-img-wrap relative">
										<div class="feature-img relative">
											<div class="overlay overlay-bg"></div>
											<img class="img-fluid" src="/img/f2.jpg" alt="">
										</div>
										<ul class="tags">
											<li><a href="#">Đời Sống</a></li>
										</ul>
									</div>
									<div class="details">
										<a href="image-post">
											<h4>Việc nhiều tiền, bạn thức khuya không nổi; Việc ít tiền, bạn không muốn
												dậy đi làm: 20 tuổi sớm đòi hỏi, 30 tuổi trả giá đắt</h4>
										</a>
										<ul class="meta">
											<li><a href="#"><span class="lnr lnr-user"></span>Mark wiens</a></li>
											<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
													2018</a></li>
											<li><a href="#"><span class="lnr lnr-bubble"></span>06 </a></li>
										</ul>
										<p class="excert">
											Vì chúng ta không theo kịp nhịp điệu của tuổi tác nên mới có cái gọi là
											khủng hoảng tuổi trung niên. Khủng hoảng này là kết quả của những năm tuổi
											trẻ đòi hỏi, lười biếng mà không chịu nỗ lực.
										</p>
									</div>
								</div>
								<div class="col-lg-6 single-popular-post">
									<div class="feature-img-wrap relative">
										<div class="feature-img relative">
											<div class="overlay overlay-bg"></div>
											<img class="img-fluid" src="/img/f3.jpg" alt="">
										</div>
										<ul class="tags">
											<li><a href="#">Xã Hội</a></li>
										</ul>
									</div>
									<div class="details">
										<a href="image-post">
											<h4>Bức xúc chuyện cô gái nhặt được iPhone không trả còn hồn nhiên nhắn tin
												xin mật khẩu iCloud để đỡ mất tiền mở khoá</h4>
										</a>
										<ul class="meta">
											<li><a href="#"><span class="lnr lnr-user"></span>Mark wiens</a></li>
											<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
													2018</a></li>
											<li><a href="#"><span class="lnr lnr-bubble"></span>06 </a></li>
										</ul>
										<p class="excert">
											Mới đây, một nam thanh niên chia sẻ câu chuyện bị rơi mất chiếc điện thoại
											iPhone. Nhưng sẽ chẳng có gì đáng nói nếu như kẻ lượm được đồ không hồn
											nhiên nhắn tin lại xin mật khẩu iCloud để khỏi "mất tiền mở khoá".
										</p>
									</div>
								</div>
								<div class="col-lg-6 single-popular-post">
									<div class="feature-img-wrap relative">
										<div class="feature-img relative">
											<div class="overlay overlay-bg"></div>
											<img class="img-fluid" src="/img/f2.jpg" alt="">
										</div>
										<ul class="tags">
											<li><a href="#">Đời Sống</a></li>
										</ul>
									</div>
									<div class="details">
										<a href="image-post">
											<h4>Việc nhiều tiền, bạn thức khuya không nổi; Việc ít tiền, bạn không muốn
												dậy đi làm: 20 tuổi sớm đòi hỏi, 30 tuổi trả giá đắt</h4>
										</a>
										<ul class="meta">
											<li><a href="#"><span class="lnr lnr-user"></span>Mark wiens</a></li>
											<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
													2018</a></li>
											<li><a href="#"><span class="lnr lnr-bubble"></span>06 </a></li>
										</ul>
										<p class="excert">
											Vì chúng ta không theo kịp nhịp điệu của tuổi tác nên mới có cái gọi là
											khủng hoảng tuổi trung niên. Khủng hoảng này là kết quả của những năm tuổi
											trẻ đòi hỏi, lười biếng mà không chịu nỗ lực.
										</p>
									</div>
								</div>
								<div class="col-lg-6 single-popular-post">
									<div class="feature-img-wrap relative">
										<div class="feature-img relative">
											<div class="overlay overlay-bg"></div>
											<img class="img-fluid" src="/img/f3.jpg" alt="">
										</div>
										<ul class="tags">
											<li><a href="#">Xã Hội</a></li>
										</ul>
									</div>
									<div class="details">
										<a href="image-post">
											<h4>Bức xúc chuyện cô gái nhặt được iPhone không trả còn hồn nhiên nhắn tin
												xin mật khẩu iCloud để đỡ mất tiền mở khoá</h4>
										</a>
										<ul class="meta">
											<li><a href="#"><span class="lnr lnr-user"></span>Mark wiens</a></li>
											<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
													2018</a></li>
											<li><a href="#"><span class="lnr lnr-bubble"></span>06 </a></li>
										</ul>
										<p class="excert">
											Mới đây, một nam thanh niên chia sẻ câu chuyện bị rơi mất chiếc điện thoại
											iPhone. Nhưng sẽ chẳng có gì đáng nói nếu như kẻ lượm được đồ không hồn
											nhiên nhắn tin lại xin mật khẩu iCloud để khỏi "mất tiền mở khoá".
										</p>
									</div>
								</div>
								<div class="col-lg-6 single-popular-post">
									<div class="feature-img-wrap relative">
										<div class="feature-img relative">
											<div class="overlay overlay-bg"></div>
											<img class="img-fluid" src="/img/f2.jpg" alt="">
										</div>
										<ul class="tags">
											<li><a href="#">Đời Sống</a></li>
										</ul>
									</div>
									<div class="details">
										<a href="image-post">
											<h4>Việc nhiều tiền, bạn thức khuya không nổi; Việc ít tiền, bạn không muốn
												dậy đi làm: 20 tuổi sớm đòi hỏi, 30 tuổi trả giá đắt</h4>
										</a>
										<ul class="meta">
											<li><a href="#"><span class="lnr lnr-user"></span>Mark wiens</a></li>
											<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
													2018</a></li>
											<li><a href="#"><span class="lnr lnr-bubble"></span>06 </a></li>
										</ul>
										<p class="excert">
											Vì chúng ta không theo kịp nhịp điệu của tuổi tác nên mới có cái gọi là
											khủng hoảng tuổi trung niên. Khủng hoảng này là kết quả của những năm tuổi
											trẻ đòi hỏi, lười biếng mà không chịu nỗ lực.
										</p>
									</div>
								</div>
								<div class="col-lg-6 single-popular-post">
									<div class="feature-img-wrap relative">
										<div class="feature-img relative">
											<div class="overlay overlay-bg"></div>
											<img class="img-fluid" src="/img/f3.jpg" alt="">
										</div>
										<ul class="tags">
											<li><a href="#">Xã Hội</a></li>
										</ul>
									</div>
									<div class="details">
										<a href="image-post">
											<h4>Bức xúc chuyện cô gái nhặt được iPhone không trả còn hồn nhiên nhắn tin
												xin mật khẩu iCloud để đỡ mất tiền mở khoá</h4>
										</a>
										<ul class="meta">
											<li><a href="#"><span class="lnr lnr-user"></span>Mark wiens</a></li>
											<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
													2018</a></li>
											<li><a href="#"><span class="lnr lnr-bubble"></span>06 </a></li>
										</ul>
										<p class="excert">
											Mới đây, một nam thanh niên chia sẻ câu chuyện bị rơi mất chiếc điện thoại
											iPhone. Nhưng sẽ chẳng có gì đáng nói nếu như kẻ lượm được đồ không hồn
											nhiên nhắn tin lại xin mật khẩu iCloud để khỏi "mất tiền mở khoá".
										</p>
									</div>
								</div>
								<div class="col-lg-6 single-popular-post">
									<div class="feature-img-wrap relative">
										<div class="feature-img relative">
											<div class="overlay overlay-bg"></div>
											<img class="img-fluid" src="/img/f2.jpg" alt="">
										</div>
										<ul class="tags">
											<li><a href="#">Đời Sống</a></li>
										</ul>
									</div>
									<div class="details">
										<a href="image-post">
											<h4>Việc nhiều tiền, bạn thức khuya không nổi; Việc ít tiền, bạn không muốn
												dậy đi làm: 20 tuổi sớm đòi hỏi, 30 tuổi trả giá đắt</h4>
										</a>
										<ul class="meta">
											<li><a href="#"><span class="lnr lnr-user"></span>Mark wiens</a></li>
											<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
													2018</a></li>
											<li><a href="#"><span class="lnr lnr-bubble"></span>06 </a></li>
										</ul>
										<p class="excert">
											Vì chúng ta không theo kịp nhịp điệu của tuổi tác nên mới có cái gọi là
											khủng hoảng tuổi trung niên. Khủng hoảng này là kết quả của những năm tuổi
											trẻ đòi hỏi, lười biếng mà không chịu nỗ lực.
										</p>
									</div>
								</div>
								<div class="col-lg-6 single-popular-post">
									<div class="feature-img-wrap relative">
										<div class="feature-img relative">
											<div class="overlay overlay-bg"></div>
											<img class="img-fluid" src="/img/f3.jpg" alt="">
										</div>
										<ul class="tags">
											<li><a href="#">Xã Hội</a></li>
										</ul>
									</div>
									<div class="details">
										<a href="image-post">
											<h4>Bức xúc chuyện cô gái nhặt được iPhone không trả còn hồn nhiên nhắn tin
												xin mật khẩu iCloud để đỡ mất tiền mở khoá</h4>
										</a>
										<ul class="meta">
											<li><a href="#"><span class="lnr lnr-user"></span>Mark wiens</a></li>
											<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
													2018</a></li>
											<li><a href="#"><span class="lnr lnr-bubble"></span>06 </a></li>
										</ul>
										<p class="excert">
											Mới đây, một nam thanh niên chia sẻ câu chuyện bị rơi mất chiếc điện thoại
											iPhone. Nhưng sẽ chẳng có gì đáng nói nếu như kẻ lượm được đồ không hồn
											nhiên nhắn tin lại xin mật khẩu iCloud để khỏi "mất tiền mở khoá".
										</p>
									</div>
								</div>
							</div>
						</div>
						<!-- End popular-post Area -->
						<!-- Start relavent-story-post Area -->
						<div class="relavent-story-post-wrap mt-30">
							<h4 class="title">Relavent Stories</h4>
							<div class="relavent-story-list-wrap">
								<div class="single-relavent-post row align-items-center">
									<div class="col-lg-5 post-left">
										<div class="feature-img relative">
											<div class="overlay overlay-bg"></div>
											<img class="img-fluid" src="/img/r1.jpg" alt="">
										</div>
										<ul class="tags">
											<li><a href="#">Lifestyle</a></li>
										</ul>
									</div>
									<div class="col-lg-7 post-right">
										<a href="image-post">
											<h4>Mùa lá sấu tung bay, người dân kéo tới chụp ảnh ở con đường lãng mạn
												nhất Thủ đô dù nắng nóng 40 độ C</h4>
										</a>
										<ul class="meta">
											<li><a href="#"><span class="lnr lnr-user"></span>Mark wiens</a></li>
											<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
													2018</a></li>
											<li><a href="#"><span class="lnr lnr-bubble"></span>06 Comments</a></li>
										</ul>
										<p class="excert">
											Người Hà Nội thích lưu lại những bức hình về mùa lá sấu rụng, bởi thế họ đến
											Phan Đình Phùng vào những buổi chiều gió nhè nhẹ để chụp ảnh. Nền nhiệt hiện
											tại có lúc lên tới 40 độ C, nhưng cũng không cản được bước chân của những
											người yêu cái đẹp.
										</p>
									</div>
								</div>
								<div class="single-relavent-post row align-items-center">
									<div class="col-lg-5 post-left">
										<div class="feature-img relative">
											<div class="overlay overlay-bg"></div>
											<img class="img-fluid" src="/img/r2.jpg" alt="">
										</div>
										<ul class="tags">
											<li><a href="#">Giới Trẻ</a></li>
										</ul>
									</div>
									<div class="col-lg-7 post-right">
										<a href="image-post">
											<h4>Giàu nhà quê không bằng ngồi lê thành phố: Một thế hệ gạt nước mắt giữa
												phố thị, chênh vênh ở hay về</h4>
										</a>
										<ul class="meta">
											<li><a href="#"><span class="lnr lnr-user"></span>Mark wiens</a></li>
											<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
													2018</a></li>
											<li><a href="#"><span class="lnr lnr-bubble"></span>06 Comments</a></li>
										</ul>
										<p class="excert">
											Phố thị đôi khi không yêu thương người ta như vùng quê yên ả, nhưng ở lại
											hay đi cũng chẳng vì chuyện cảm xúc cá nhân. Ràng buộc bởi nhiều áp lực,
											nhiều người chênh vênh giữa dòng xe đông đúc: Tiếp tục ở lại thành phố hay
											về quê với cuộc đời mới?
										</p>
									</div>
								</div>
								<div class="single-relavent-post row align-items-center">
									<div class="col-lg-5 post-left">
										<div class="feature-img relative">
											<div class="overlay overlay-bg"></div>
											<img class="img-fluid" src="/img/r3.jpg" alt="">
										</div>
										<ul class="tags">
											<li><a href="#">Khám Phá</a></li>
										</ul>
									</div>
									<div class="col-lg-7 post-right">
										<a href="image-post">
											<h4>Đây là nhóm máu duy nhất có thể tự động kháng lại căn bệnh giết chết cả
												triệu người mỗi năm.</h4>
										</a>
										<ul class="meta">
											<li><a href="#"><span class="lnr lnr-user"></span>Mark wiens</a></li>
											<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
													2018</a></li>
											<li><a href="#"><span class="lnr lnr-bubble"></span>06 Comments</a></li>
										</ul>
										<p class="excert">
											Căn bệnh chúng ta đang nhắc đến là sốt rét. Và theo như các nhà khoa học, có
											một nhóm máu cho phép chúng ta chống lại được căn bệnh này.
										</p>
									</div>
								</div>
								<div class="single-relavent-post row align-items-center">
									<div class="col-lg-5 post-left">
										<div class="feature-img relative">
											<div class="overlay overlay-bg"></div>
											<img class="img-fluid" src="/img/r1.jpg" alt="">
										</div>
										<ul class="tags">
											<li><a href="#">Lifestyle</a></li>
										</ul>
									</div>
									<div class="col-lg-7 post-right">
										<a href="image-post">
											<h4>Mùa lá sấu tung bay, người dân kéo tới chụp ảnh ở con đường lãng mạn
												nhất Thủ đô dù nắng nóng 40 độ C</h4>
										</a>
										<ul class="meta">
											<li><a href="#"><span class="lnr lnr-user"></span>Mark wiens</a></li>
											<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
													2018</a></li>
											<li><a href="#"><span class="lnr lnr-bubble"></span>06 Comments</a></li>
										</ul>
										<p class="excert">
											Người Hà Nội thích lưu lại những bức hình về mùa lá sấu rụng, bởi thế họ đến
											Phan Đình Phùng vào những buổi chiều gió nhè nhẹ để chụp ảnh. Nền nhiệt hiện
											tại có lúc lên tới 40 độ C, nhưng cũng không cản được bước chân của những
											người yêu cái đẹp.
										</p>
									</div>
								</div>
								<div class="single-relavent-post row align-items-center">
									<div class="col-lg-5 post-left">
										<div class="feature-img relative">
											<div class="overlay overlay-bg"></div>
											<img class="img-fluid" src="/img/r2.jpg" alt="">
										</div>
										<ul class="tags">
											<li><a href="#">Giới Trẻ</a></li>
										</ul>
									</div>
									<div class="col-lg-7 post-right">
										<a href="image-post">
											<h4>Giàu nhà quê không bằng ngồi lê thành phố: Một thế hệ gạt nước mắt giữa
												phố thị, chênh vênh ở hay về</h4>
										</a>
										<ul class="meta">
											<li><a href="#"><span class="lnr lnr-user"></span>Mark wiens</a></li>
											<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
													2018</a></li>
											<li><a href="#"><span class="lnr lnr-bubble"></span>06 Comments</a></li>
										</ul>
										<p class="excert">
											Phố thị đôi khi không yêu thương người ta như vùng quê yên ả, nhưng ở lại
											hay đi cũng chẳng vì chuyện cảm xúc cá nhân. Ràng buộc bởi nhiều áp lực,
											nhiều người chênh vênh giữa dòng xe đông đúc: Tiếp tục ở lại thành phố hay
											về quê với cuộc đời mới?
										</p>
									</div>
								</div>
								<div class="single-relavent-post row align-items-center">
									<div class="col-lg-5 post-left">
										<div class="feature-img relative">
											<div class="overlay overlay-bg"></div>
											<img class="img-fluid" src="/img/r3.jpg" alt="">
										</div>
										<ul class="tags">
											<li><a href="#">Khám Phá</a></li>
										</ul>
									</div>
									<div class="col-lg-7 post-right">
										<a href="image-post">
											<h4>Đây là nhóm máu duy nhất có thể tự động kháng lại căn bệnh giết chết cả
												triệu người mỗi năm.</h4>
										</a>
										<ul class="meta">
											<li><a href="#"><span class="lnr lnr-user"></span>Mark wiens</a></li>
											<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
													2018</a></li>
											<li><a href="#"><span class="lnr lnr-bubble"></span>06 Comments</a></li>
										</ul>
										<p class="excert">
											Căn bệnh chúng ta đang nhắc đến là sốt rét. Và theo như các nhà khoa học, có
											một nhóm máu cho phép chúng ta chống lại được căn bệnh này.
										</p>
									</div>
								</div>
								<div class="single-relavent-post row align-items-center">
									<div class="col-lg-5 post-left">
										<div class="feature-img relative">
											<div class="overlay overlay-bg"></div>
											<img class="img-fluid" src="/img/r1.jpg" alt="">
										</div>
										<ul class="tags">
											<li><a href="#">Lifestyle</a></li>
										</ul>
									</div>
									<div class="col-lg-7 post-right">
										<a href="image-post">
											<h4>Mùa lá sấu tung bay, người dân kéo tới chụp ảnh ở con đường lãng mạn
												nhất Thủ đô dù nắng nóng 40 độ C</h4>
										</a>
										<ul class="meta">
											<li><a href="#"><span class="lnr lnr-user"></span>Mark wiens</a></li>
											<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
													2018</a></li>
											<li><a href="#"><span class="lnr lnr-bubble"></span>06 Comments</a></li>
										</ul>
										<p class="excert">
											Người Hà Nội thích lưu lại những bức hình về mùa lá sấu rụng, bởi thế họ đến
											Phan Đình Phùng vào những buổi chiều gió nhè nhẹ để chụp ảnh. Nền nhiệt hiện
											tại có lúc lên tới 40 độ C, nhưng cũng không cản được bước chân của những
											người yêu cái đẹp.
										</p>
									</div>
								</div>
								<div class="single-relavent-post row align-items-center">
									<div class="col-lg-5 post-left">
										<div class="feature-img relative">
											<div class="overlay overlay-bg"></div>
											<img class="img-fluid" src="/img/r2.jpg" alt="">
										</div>
										<ul class="tags">
											<li><a href="#">Giới Trẻ</a></li>
										</ul>
									</div>
									<div class="col-lg-7 post-right">
										<a href="image-post">
											<h4>Giàu nhà quê không bằng ngồi lê thành phố: Một thế hệ gạt nước mắt giữa
												phố thị, chênh vênh ở hay về</h4>
										</a>
										<ul class="meta">
											<li><a href="#"><span class="lnr lnr-user"></span>Mark wiens</a></li>
											<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
													2018</a></li>
											<li><a href="#"><span class="lnr lnr-bubble"></span>06 Comments</a></li>
										</ul>
										<p class="excert">
											Phố thị đôi khi không yêu thương người ta như vùng quê yên ả, nhưng ở lại
											hay đi cũng chẳng vì chuyện cảm xúc cá nhân. Ràng buộc bởi nhiều áp lực,
											nhiều người chênh vênh giữa dòng xe đông đúc: Tiếp tục ở lại thành phố hay
											về quê với cuộc đời mới?
										</p>
									</div>
								</div>
								<div class="single-relavent-post row align-items-center">
									<div class="col-lg-5 post-left">
										<div class="feature-img relative">
											<div class="overlay overlay-bg"></div>
											<img class="img-fluid" src="/img/r3.jpg" alt="">
										</div>
										<ul class="tags">
											<li><a href="#">Khám Phá</a></li>
										</ul>
									</div>
									<div class="col-lg-7 post-right">
										<a href="image-post">
											<h4>Đây là nhóm máu duy nhất có thể tự động kháng lại căn bệnh giết chết cả
												triệu người mỗi năm.</h4>
										</a>
										<ul class="meta">
											<li><a href="#"><span class="lnr lnr-user"></span>Mark wiens</a></li>
											<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
													2018</a></li>
											<li><a href="#"><span class="lnr lnr-bubble"></span>06 Comments</a></li>
										</ul>
										<p class="excert">
											Căn bệnh chúng ta đang nhắc đến là sốt rét. Và theo như các nhà khoa học, có
											một nhóm máu cho phép chúng ta chống lại được căn bệnh này.
										</p>
									</div>
								</div>
								<div class="single-relavent-post row align-items-center">
									<div class="col-lg-5 post-left">
										<div class="feature-img relative">
											<div class="overlay overlay-bg"></div>
											<img class="img-fluid" src="img/r1.jpg" alt="">
										</div>
										<ul class="tags">
											<li><a href="#">Lifestyle</a></li>
										</ul>
									</div>
									<div class="col-lg-7 post-right">
										<a href="image-post">
											<h4>Mùa lá sấu tung bay, người dân kéo tới chụp ảnh ở con đường lãng mạn
												nhất Thủ đô dù nắng nóng 40 độ C</h4>
										</a>
										<ul class="meta">
											<li><a href="#"><span class="lnr lnr-user"></span>Mark wiens</a></li>
											<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
													2018</a></li>
											<li><a href="#"><span class="lnr lnr-bubble"></span>06 Comments</a></li>
										</ul>
										<p class="excert">
											Người Hà Nội thích lưu lại những bức hình về mùa lá sấu rụng, bởi thế họ đến
											Phan Đình Phùng vào những buổi chiều gió nhè nhẹ để chụp ảnh. Nền nhiệt hiện
											tại có lúc lên tới 40 độ C, nhưng cũng không cản được bước chân của những
											người yêu cái đẹp.
										</p>
									</div>
								</div>
							</div>
						</div>
						<!-- End relavent-story-post Area -->
					</div>
					<div class="col-lg-4">
						<div class="sidebars-area">
							<div class="single-sidebar-widget editors-pick-widget">
								<h6 class="title">Lựa Chọn Của BTV</h6>
								<div class="editors-pick-post">
									<div class="feature-img-wrap relative">
										<div class="feature-img relative">
											<div class="overlay overlay-bg"></div>
											<img class="img-fluid" src="img/e1.jpg" alt="">
										</div>
										<ul class="tags">
											<li><a href="#">TV Show</a></li>
										</ul>
									</div>
									<div class="details">
										<a href="image-post">
											<h4 class="mt-20">Running Man - Không lên sóng: Lan Ngọc tự tin 3 năm học
												trường Sân khấu còn Trấn Thành thì không</h4>
										</a>
										<ul class="meta">
											<li><a href="#"><span class="lnr lnr-user"></span>Mark wiens</a></li>
											<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
													2018</a></li>
											<li><a href="#"><span class="lnr lnr-bubble"></span>06 </a></li>
										</ul>
										<p class="excert">
											Tự tin với khả năng diễn tả bằng khẩu hình miệng của mình, thế nhưng bước
											vào thử thách, Ninh Dương Lan Ngọc vẫn để lại nhiều khoảnh khắc khó đỡ. </p>
									</div>
									<div class="post-lists">
										<div class="single-post d-flex flex-row">
											<div class="thumb">
												<img src="img/e2.jpg" alt="">
											</div>
											<div class="detail">
												<a href="image-post">
													<h6>Liệu cơn sốt Endgame có càn quét các cột mốc 200 tỷ của Hai
														Phượng, 191 tỷ Cua Lại Vợ Bầu, 60 tỷ Lật Mặt 4 tại Việt Nam?
													</h6>
												</a>
												<ul class="meta">
													<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
															2018</a></li>
													<li><a href="#"><span class="lnr lnr-bubble"></span>06</a></li>
												</ul>
											</div>
										</div>
										<div class="single-post d-flex flex-row">
											<div class="thumb">
												<img src="img/e3.jpg" alt="">
											</div>
											<div class="detail">
												<a href="image-post">
													<h6>Nam sinh 17 tuổi nhảy cầu tự vẫn trước mặt mẹ: 'Bạo lực bằng lời
														nói' của cha mẹ đẩy con trẻ đến bước đường cùng</h6>
												</a>
												<ul class="meta">
													<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
															2018</a></li>
													<li><a href="#"><span class="lnr lnr-bubble"></span>06</a></li>
												</ul>
											</div>
										</div>
										<div class="single-post d-flex flex-row">
											<div class="thumb">
												<img src="img/e4.jpg" alt="">
											</div>
											<div class="detail">
												<a href="image-post">
													<h6>Nhân chứng tiết lộ gây sốc về nghi phạm đánh bom nhà thờ ở Sri
														Lanka</h6>
												</a>
												<ul class="meta">
													<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
															2018</a></li>
													<li><a href="#"><span class="lnr lnr-bubble"></span>06</a></li>
												</ul>
											</div>
										</div>
										<div class="single-post d-flex flex-row">
											<div class="thumb">
												<img src="img/e2.jpg" alt="">
											</div>
											<div class="detail">
												<a href="image-post">
													<h6>Liệu cơn sốt Endgame có càn quét các cột mốc 200 tỷ của Hai
														Phượng, 191 tỷ Cua Lại Vợ Bầu, 60 tỷ Lật Mặt 4 tại Việt Nam?
													</h6>
												</a>
												<ul class="meta">
													<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
															2018</a></li>
													<li><a href="#"><span class="lnr lnr-bubble"></span>06</a></li>
												</ul>
											</div>
										</div>
										<div class="single-post d-flex flex-row">
											<div class="thumb">
												<img src="img/e3.jpg" alt="">
											</div>
											<div class="detail">
												<a href="image-post">
													<h6>Nam sinh 17 tuổi nhảy cầu tự vẫn trước mặt mẹ: 'Bạo lực bằng lời
														nói' của cha mẹ đẩy con trẻ đến bước đường cùng</h6>
												</a>
												<ul class="meta">
													<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
															2018</a></li>
													<li><a href="#"><span class="lnr lnr-bubble"></span>06</a></li>
												</ul>
											</div>
										</div>
										<div class="single-post d-flex flex-row">
											<div class="thumb">
												<img src="img/e4.jpg" alt="">
											</div>
											<div class="detail">
												<a href="image-post">
													<h6>Nhân chứng tiết lộ gây sốc về nghi phạm đánh bom nhà thờ ở Sri
														Lanka</h6>
												</a>
												<ul class="meta">
													<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
															2018</a></li>
													<li><a href="#"><span class="lnr lnr-bubble"></span>06</a></li>
												</ul>
											</div>
										</div>
										<div class="single-post d-flex flex-row">
											<div class="thumb">
												<img src="img/e2.jpg" alt="">
											</div>
											<div class="detail">
												<a href="image-post">
													<h6>Liệu cơn sốt Endgame có càn quét các cột mốc 200 tỷ của Hai
														Phượng, 191 tỷ Cua Lại Vợ Bầu, 60 tỷ Lật Mặt 4 tại Việt Nam?
													</h6>
												</a>
												<ul class="meta">
													<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
															2018</a></li>
													<li><a href="#"><span class="lnr lnr-bubble"></span>06</a></li>
												</ul>
											</div>
										</div>
										<div class="single-post d-flex flex-row">
											<div class="thumb">
												<img src="img/e3.jpg" alt="">
											</div>
											<div class="detail">
												<a href="image-post">
													<h6>Nam sinh 17 tuổi nhảy cầu tự vẫn trước mặt mẹ: 'Bạo lực bằng lời
														nói' của cha mẹ đẩy con trẻ đến bước đường cùng</h6>
												</a>
												<ul class="meta">
													<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
															2018</a></li>
													<li><a href="#"><span class="lnr lnr-bubble"></span>06</a></li>
												</ul>
											</div>
										</div>
										<div class="single-post d-flex flex-row">
											<div class="thumb">
												<img src="img/e4.jpg" alt="">
											</div>
											<div class="detail">
												<a href="image-post">
													<h6>Nhân chứng tiết lộ gây sốc về nghi phạm đánh bom nhà thờ ở Sri
														Lanka</h6>
												</a>
												<ul class="meta">
													<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
															2018</a></li>
													<li><a href="#"><span class="lnr lnr-bubble"></span>06</a></li>
												</ul>
											</div>
										</div>
										<div class="single-post d-flex flex-row">
											<div class="thumb">
												<img src="img/e2.jpg" alt="">
											</div>
											<div class="detail">
												<a href="image-post">
													<h6>Liệu cơn sốt Endgame có càn quét các cột mốc 200 tỷ của Hai
														Phượng, 191 tỷ Cua Lại Vợ Bầu, 60 tỷ Lật Mặt 4 tại Việt Nam?
													</h6>
												</a>
												<ul class="meta">
													<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
															2018</a></li>
													<li><a href="#"><span class="lnr lnr-bubble"></span>06</a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="single-sidebar-widget ads-widget">
								<img class="img-fluid" src="img/sidebar-ads.jpg" alt="">
							</div>
							<div class="single-sidebar-widget newsletter-widget">
								<h6 class="title">Newsletter</h6>
								<p>
									Here, I focus on a range of items
									andfeatures that we use in life without
									giving them a second thought.
								</p>
								<div class="form-group d-flex flex-row">
									<div class="col-autos">
										<div class="input-group">
											<input class="form-control" placeholder="Email Address"
												onfocus="this.placeholder = ''"
												onblur="this.placeholder = 'Email Address'" type="text">
										</div>
									</div>
									<a href="#" class="bbtns">Subcribe</a>
								</div>
								<p>
									You can unsubscribe us at any time
								</p>
							</div>
							<div class="single-sidebar-widget most-popular-widget">
								<h6 class="title">Most Popular</h6>
								<div class="single-list flex-row d-flex">
									<div class="thumb">
										<img src="img/m1.jpg" alt="">
									</div>
									<div class="details">
										<a href="image-post">
											<h6>Help Finding Information
												Online is so easy</h6>
										</a>
										<ul class="meta">
											<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
													2018</a></li>
											<li><a href="#"><span class="lnr lnr-bubble"></span>06</a></li>
										</ul>
									</div>
								</div>
								<div class="single-list flex-row d-flex">
									<div class="thumb">
										<img src="img/m2.jpg" alt="">
									</div>
									<div class="details">
										<a href="image-post">
											<h6>Compatible Inkjet Cartr
												world famous</h6>
										</a>
										<ul class="meta">
											<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
													2018</a></li>
											<li><a href="#"><span class="lnr lnr-bubble"></span>06</a></li>
										</ul>
									</div>
								</div>
								<div class="single-list flex-row d-flex">
									<div class="thumb">
										<img src="img/m3.jpg" alt="">
									</div>
									<div class="details">
										<a href="image-post">
											<h6>5 Tips For Offshore Soft
												Development </h6>
										</a>
										<ul class="meta">
											<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
													2018</a></li>
											<li><a href="#"><span class="lnr lnr-bubble"></span>06</a></li>
										</ul>
									</div>
								</div>
								<div class="single-list flex-row d-flex">
									<div class="thumb">
										<img src="img/m4.jpg" alt="">
									</div>
									<div class="details">
										<a href="image-post">
											<h6>5 Tips For Offshore Soft
												Development </h6>
										</a>
										<ul class="meta">
											<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April,
													2018</a></li>
											<li><a href="#"><span class="lnr lnr-bubble"></span>06</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="single-sidebar-widget social-network-widget">
								<h6 class="title">Social Networks</h6>
								<ul class="social-list">
									<li class="d-flex justify-content-between align-items-center fb">
										<div class="icons d-flex flex-row align-items-center">
											<i class="fa fa-facebook" aria-hidden="true"></i>
											<p>983 Likes</p>
										</div>
										<a href="#">Like our page</a>
									</li>
									<li class="d-flex justify-content-between align-items-center tw">
										<div class="icons d-flex flex-row align-items-center">
											<i class="fa fa-twitter" aria-hidden="true"></i>
											<p>983 Followers</p>
										</div>
										<a href="#">Follow Us</a>
									</li>
									<li class="d-flex justify-content-between align-items-center yt">
										<div class="icons d-flex flex-row align-items-center">
											<i class="fa fa-youtube-play" aria-hidden="true"></i>
											<p>983 Subscriber</p>
										</div>
										<a href="#">Subscribe</a>
									</li>
									<li class="d-flex justify-content-between align-items-center rs">
										<div class="icons d-flex flex-row align-items-center">
											<i class="fa fa-rss" aria-hidden="true"></i>
											<p>983 Subscribe</p>
										</div>
										<a href="#">Subscribe</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End latest-post Area -->
	</div>