<!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-9">
                        <h2 class="title-1 m-b-25">Danh sách bài đã đăng</h2>
                        <div class="table-responsive table--no-card m-b-40">
                            <form action="/postlist" method="GET">
                                <table class="table table-borderless table-striped table-earning" id="tbl-posting">
                                <thead>
                                    <tr>
                                        <th>Tên bài</th>
                                        <th>Ngày đăng</th>
                                        <th>thể loại</th>
                                        <th>Trạng thái</th>
                                    </tr>
                                    
                                </thead>
                                <tbody>
                                    {{#each this.newStt}}
                                    <tr>
                                        
                                        <td><a href="/writer/editpost/{{PostID}}">{{Title}}</a></td>
                                        <td>{{Date}}</td>
                                        <td>{{CatName}}</td>
                                        <td>{{StatusName}}</td>
                                    </tr>
                                    {{/each}}
                                    
                                </tbody>
                            </table>
                            </form>
                            
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-md-12" >
                        <div class="copyright">
                            <p>Copyright © 2019 Group38</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT-->
    <!-- END PAGE CONTAINER-->