<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <strong>Duyệt bài</strong> 
                        </div>
                        <div class="card-body card-block">
                             <form action="" method="post"  class="form-horizontal">     
                                {{#each this.detail}}     
                                    <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="title-input" class=" form-control-label">Tiêu đề</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" id="title-input" name="title" value="{{Title}}" class="form-control" readonly>
                                        <small class="form-text text-muted">Tiêu đề không dài quá 50 từ</small>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="select" class=" form-control-label">Chuyên mục</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <select name="select" id="select" class="form-control">
                                            <option value="{{CatID}}">{{CatName}}</option>
                                            {{/each}}
                                            {{#each this.category}}
                                                <option value="{{CatID}}">{{CatName}}</option>
                                            {{/each}}
                                            {{#each this.detail}}
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="summary-input" class=" form-control-label" >Tóm tắt nội dung</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <textarea readonly name="sumContent" id="textarea-input" rows="6" class="form-control">{{SumContent}}</textarea>
                                    </div>
                                </div>

                                <div class="row form-group">
                                <div style=" background:rgb(245, 240, 240); margin:auto; ">
                                        {{{Content}}}
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="avatar" class=" form-control-label" >Link hình ảnh</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" readonly id="avatar" value="{{Avatar}}" name="avatar"> 
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="datePublish" class=" form-control-label">Ngày xuất bản</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="date" data-date-format="yyyy-mm-dd" name="datePublish">
                                    </div>
                                </div>
                                
                                <textarea name="trick" id="trick" style="display:none;"></textarea>
                                <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="note-input" class=" form-control-label">Ghi chú:</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <textarea id="note-input" rows="5" name="note" placeholder="Mô tả cho tác giả" class="form-control"></textarea>
                                        </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label class=" form-control-label">Tình trạng</label>
                                    </div>
                                    <div class="col col-md-9">
                                        <div class="form-check">
                                            <div class="radio">
                                                <label for="radio1" class="form-check-label ">
                                                    <input type="radio" id="radio1" name="status" value="1" class="form-check-input">Đồng ý
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label for="radio2" class="form-check-label ">
                                                    <input type="radio" id="radio2" name="status" value="3" class="form-check-input"> Từ chối
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                                <div class="card-footer">
                                <button type="submit" id="saveButt" class="btn btn-primary btn-sm">
                                    <i class="fa fa-dot-circle-o"></i> Submit
                                </button>
                                <button type="reset" class="btn btn-danger btn-sm">
                                    <i class="fa fa-ban"></i> Reset
                                </button>
                                </div>   
                            </form>
                        </div>
                    </div>
                </div>  
        </div>
    </div>
</div>